<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="" />
<meta name="keywords" content="" />
<title>Edge-Enabled Diagnostic Engine for Real-time Medical Decision Support</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/style.css"/>

<style>
.resized-image {
  width: 50%; /* Adjust this percentage to make it smaller or larger */
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
</style>

</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h3><font size="5" color="white">Edge-Enabled Diagnostic Engine for Real-time Medical Decision Support</font></h3>
		</div>
		<div id="slogan">
		</div>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="/">Home</a></li>
			<li><a href="Login">User Login</a></li>
			<li><a href="Signup">New User Signup</a></li>			
		</ul>
		<br class="clearfix" />
	</div>
	
	<br/>

	<img class="resized-image" src="https://pub.mdpi-res.com/sensors/sensors-24-07965/article_deploy/html/images/sensors-24-07965-g001-550.jpg?1734079930" alt="Medical Diagnostic Engine"/>

	<br/><br/><br/><br/><br/>
</body>
</html>